.bg-reg{
    background-color: #116a99 !important;
}
body {
            background: #f5f6fa;
            font-family: 'Segoe UI', sans-serif;
        }
        .card-form {
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.15);
            padding: 30px;
            background-color: #fff;
        }
        h2 {
            color: #4a90e2;
            font-weight: 600;
        }
        .btn-primary {
            background-color: #4a90e2;
            border: none;
        }
        .btn-primary:hover {
            background-color: #357ab8;
        }
        .form-label i {
            margin-right: 5px;
            color: #4a90e2;
        }
